// COLORS
$color-black: #323232;
$color-white: #FFFFFF;
$color-grey: #ABABAB;
$color-grey-darker: #999999;
$color-skinny: #FFBC9E;
$color-orange: #E84D37;
$color-grey-dark: #5A5A5A;

$basic-black: #000000;
$basic-background: #849D8F;
$basic-background2: #8996A6;
$basic-background3: #9D8B84;
$basic-white-background: #F8F7F4;
$basic-button-shadow: #AC1000;
$basic-button-text-shadow: rgba(160, 32, 11, 0.76);
$basic-grey-shadow: #696969;
$basic-background-orange: #D07058;
$basic-gradient-orange: #F26843;
$basic-gradient-red: #E74A35;

$special-button-shadow: #942718;
$special-border-table-grey: #CACAC7;
$special-border-input: #B2B2B2;
$special-border-input-blue: #2E88E4;
$special-text-shadow-black: #313235;
$special-background-white: #EDEDED;
$special-background-skinny-light: #FBDED7;
$special-background-skinny: #F6B5A5;

$average-raspberry-bg-color: #62040F;
$average-chocolate-bg-color: #4C2211;
$average-waffel-bg-color: #FAE4B4;

$fefefefefefefefefe: #FEFEFE;